:root, [data-bs-theme=light], [data-bs-theme=dark] {
    --bs-alert-border-radius: 1rem;
    --bs-border-radius: 1rem;
    --bs-border-color: #e5e5e5;
}

[data-bs-theme=light] {
    background-color: #e9f2fd;
    color: #222;
}

.dropdown-menu {
    --bs-dropdown-border-radius: 1rem;

    border: 0;
    overflow: hidden;
    box-shadow: 0 .125rem .85rem rgba(var(--bs-body-color-rgb),.075)!important;
    padding: .75rem .375rem;
}

.dropdown-item {
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
}

.card {
    --bs-card-border-color: #e1ecf8;
}

.card-header, .card-footer {
    background: transparent;
}

.shadow-sm {
    box-shadow: 0 .125rem .85rem rgba(var(--bs-body-color-rgb),.075)!important;
}

.form-control {
    padding: .75rem .85rem;
}

.btn:not(.btn-sm) {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.5rem;
    font-weight: 600;
}

.btn .spinner-border {
    display: none;
}

.btn:disabled .spinner-border {
    display: block;
}


.btn {
	position: relative!important;
	overflow: hidden!important;
}

.btn:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 200ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}


.btn:hover:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.accordion-button {
    font-weight: 600;
}


.alert {
    font-weight: 600;
}

.alert p {
    margin: 0;
    line-height: 25px;
}

.alert i {
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    margin-right: 1rem;
}

.row.row2 {
    margin-top: calc(-.5 * var(--bs-gutter-x));
    margin-bottom: calc(-.5 * var(--bs-gutter-x));
}

.row.row2>* {
    padding-top: calc(var(--bs-gutter-x) * .5);
    padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.table>:not(caption)>*>* {
    padding: 1rem;
}

a {
    text-decoration: none;
}

label {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    font-weight: 500;
    overflow-x: hidden;
    min-height: 100vh;
}

#app {
    width: 770px;
    height: 600px;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%230099ff' fill-opacity='1' d='M0 224L60 234.7C120 245 240 267 360 272C480 277 600 267 720 261.3C840 256 960 256 1080 250.7C1200 245 1320 235 1380 229.3L1440 224L1440 0L1380 0C1320 0 1200 0 1080 0C960 0 840 0 720 0C600 0 480 0 360 0C240 0 120 0 60 0L0 0Z'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#menu-tabs li a {
    transition: background-color 400ms;
}

#menu-tabs li a.active {
    background-color: #00000024;
}

.dropdown-menu {
    --bs-dropdown-link-hover-bg: #e2e2e2;
}

.user .dropdown-toggle {
    cursor: pointer;
}

.user .dropdown-toggle:after {
    display: none;
}

.loading {
    position: relative;
    overflow: hidden;
}
.loading .bar {
    background-color: #E7E7E7;
    height: 14px;
    border-radius: 7px;
}
.loading:after {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    content: "";
    display: block;
    width: 200%;
    height: 24px;
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
    background-size: 90px 24px;
    background-position: -100px 0;
    background-repeat: no-repeat;
    animation: loading 2s infinite;
}

@keyframes loading {
    40% {
        background-position: 100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.table-responsive .ps__rail-y {
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: transparent!important;
}

.table-responsive .ps__rail-x {
    margin-right: 20px;
    margin-left: 20px;
    background-color: transparent!important;
}

.table.dataTable {
    margin: 0!important;
}

.table th span {
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-weight: 700;
    color: #222;
    padding-right: 20px;
}

.table th {
    position: relative;
}

.table th span i {
    margin-right: 7px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #f5f5f5;
}

#accounts,
#bmAccounts {
    height: 350px;
}

#adsTable,
#superTargetTable {
    height: 400px
}

.table thead {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 99;
}

.table td {
    position: relative;
    border: 0;
    font-weight: 700;
    vertical-align: middle;
}

.table>:not(caption)>*>* {
    padding: 0.75rem;
}


#accounts td[data-order]:after,
#bmAccounts td[data-order]:after {
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: auto;
    border: 2px solid #fff;
    box-shadow: 0 0.125rem 0.85rem rgba(var(--bs-body-color-rgb),.075)!important;
    background: #ddd;
}

#accounts td[data-order="3"]:after,
#bmAccounts td[data-order="3"]:after {
    background: #ffc107;
}

#accounts td[data-order="2"]:after,
#bmAccounts td[data-order="2"]:after {
    background: #dc3545;
}

#accounts td[data-order="1"]:after,
#bmAccounts td[data-order="1"]:after {
    background: #2ce142;
}

/*
.tab-pane {
    position: relative;
    display: block!important;
    top: 30px;
    opacity: 0;
    transition: top 300ms, opacity 300ms, visibility 300ms;
    visibility: hidden;
    max-height: 0;
}

.tab-pane.show {
    top: 0;
    opacity: 1;
    visibility: visible;
    max-height: 9999px;
}
*/

.dataTables_filter {
    display: none;
}

.table th span:after {
    content: '';
    position: absolute;
    right: 0;
    height: 100%;
    width: 1px;
    background: #f5f5f5;
}

.form-switch {
    min-height: 0;
}

.sorting {
    padding-right: 30px!important;
}

.sorting:before {
    content: "\ea77"!important;
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px!important;
    bottom: 43%!important;
    color: #000;
}

.sorting:after {
    content: "\ea4d"!important;
    font-family: 'remixicon' !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 15px!important;
    bottom: 54px!important;
    color: #000;
}

.select2-container--bootstrap-5 .select2-selection {
    border: 1px solid var(--bs-border-color);
    padding: 0.75rem 0.85rem;
    height: 47px!important;
    min-height: 0!important;
}

.form-select {
    font-size: 13px;
    padding: .75rem .85rem;
}

.modal {
    backdrop-filter: blur(10px);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 0%);
    border-radius: 3px;
    transition: all 300ms;
}

.custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background: rgb(0 0 0 / 20%);
}

.form-control {
    font-size: 13px;
}

.account-status {
    border-left: 1px solid #ffffff29;
    border-right: 1px solid #ffffff29;
}

.badge {
    font-size: 12px;
}