<div data-account="{id}">
    <div class="border rounded-3 p-2 d-flex align-items-center mb-2">
        <div class="pe-2">
            <div class="p-1 border rounded-circle shadow-sm">
                <img class="rounded-circle" src="https://graph.facebook.com/{id}/picture?access_token=6628568379|c1e620fa708a1d5696fb991c1bde5662" height="45" width="45">
            </div>
        </div>
        <div class="flex-fill">
            <strong class="d-block">{name}</strong>
            <span class="d-block">{role}</span>
        </div>
        <div>
            <button type="button" data-id="{id}" class="removeAccount p-0 border-0 bg-transparent"><i class="ri-delete-bin-5-fill text-danger fs-6"></i></button>
        </div>
    </div>
</div>