<tr data-id="{account_id}">
    <td class="pe-1"><input class="form-check-input p-2 m-0" type="checkbox" value="" data-check="{account_id}"></td>
    <td data-id="status" data-order="{account_status}"></td>
    <td data-id="id">{account_id}</td>
    <td data-id="name">
        <div class="d-flex align-items-center">
            <div class="dropdown">
                <button class="rounded-circle bg-white shadow-sm me-2 border" type="button" data-bs-toggle="dropdown">
                    <i class="ri-edit-2-fill"></i>
                </button>
                <ul class="dropdown-menu border">
                    <li><a id="changeInfoButton" class="py-2 dropdown-item rounded-3" data-id="{account_id}" href="#">Đổi thông tin</a></li>
                </ul>
            </div>
            <a href="https://adsmanager.facebook.com/adsmanager/manage/campaigns?act={account_id}" target="_blank" style="width: 130px" class="d-block text-truncate">
                <strong>{name}</strong>
            </a>
        </div>
    </td>
    <td data-id="balance" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="threshold" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="remain" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="limit" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="spend" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="currency" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="accountType" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="role" class="text-center">{role}</td>
    <td data-id="disableReason" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="createdTime" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="nextBillDate" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="dayRemain" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="countryCode" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="ownerBusiness" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td data-id="timezoneName" class="text-center row-loading"><div class="loading"><div class="bar"></div></div></td>
</tr>