<tr>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
</tr>
<tr>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
</tr>
<tr>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
</tr>
<tr>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
    <td class="row-loading"><div class="loading"><div class="bar"></div></div></td>
</tr>