<div class="modal fade" id="hiddenAdminModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px">
        <div class="modal-content border-0 shadow rounded">
            <div class="modal-header">
                <h6 class="modal-title">Admin ẩn</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="hiddenBmAdmins"></div>
            </div>
        </div>
    </div>
</div>