<div id="login">
    <div class="col-6">
        <div class="text-center"><img class="mb-3" src="images/logo.png" height="50"></div>
        <div class="card shadow">
            <div class="card-body">
                <form id="loginForm">
                    <h4 class="text-center mb-3">Đăng nhập</h4>
                    <div class="mb-3">
                        <input type="text" name="username" class="form-control" placeholder="Tên tài khoản">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" class="form-control" placeholder="Mật khẩu">
                    </div>
                    <div class="mb-3 text-end">
                        <a href="{url}/client/forgot-password" target="_BLANK"><strong>Quên mật khẩu?</strong></a>
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary shadow w-100">Đăng nhập</button>
                    </div>
                    <div class="text-center">
                        Chưa có tài khoản? <a href="{url}/client/register" target="_BLANK"><strong>Đăng ký ngay</strong>?</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>