<div class="modal fade" id="savedTargetModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 400px">
        <div class="modal-content border-0 shadow rounded">
            <div class="modal-header">
                <h6 class="modal-title">Target đã lưu</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="custom-scrollbar overflow-x-hidden overflow-y-auto" style="height: 400px">
                    <table class="table table-striped m-0">
                        <thead>
                            <tr>
                                <th scope="col">Target</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger">Xóa tất cả</button>
                <button type="button" class="btn btn-primary">Copy tất cả</button>
            </div>
        </div>
    </div>
</div>